<!DOCTYPE html>
<html lang="en">
  <% include ../includes/dashboardHead %>

  <body class="container-fluid">
    <% include ../includes/dashboardNav %>

      <div id="form">
        <form class="container" action="/api/administrator/create" method="post">
          <h2 class="form-signin-heading">
            Create Administrator Account
          </h2>
          <div class="row">              
            <div class="col-md-12 mb-2  mt-2">
              <label for="email" class="sr-only">Email</label>              
              <input type="text" class="form-control" name="email" placeholder="Email" required>
            </div>
          </div>
          <div class="row">              
            <div class="col-md-12 mb-2">
              <label for="firstName" class="sr-only">First Name</label>              
              <input type="text" class="form-control" name="firstName" placeholder="First Name" required>
            </div>
          </div>
          <div class="row">              
            <div class="col-md-12 mb-2">
              <label for="middleName" class="sr-only">Middle Name</label>              
              <input type="text" class="form-control" name="middleName" placeholder="Middle Name">
            </div>
          </div>
          <div class="row">              
            <div class="col-md-12 mb-2">
              <label for="lastName" class="sr-only">Last Name</label>              
              <input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="password" class="sr-only">Password</label>         
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
          </div>
          <div class="row">  
            <div class="col-md-12 mb-2">
              <label for="passwordTwo" class="sr-only">Confirm Password</label>              
              <input type="password" class="form-control" name="passwordTwo" placeholder="Confirm Password" required>
            </div>
          </div>
          <button class="btn btn-md btn-default btn-block" type="submit">Submit</button>
        </form>
      </div>

      <div id="form">
        <form class="container" action="/api/administrator/delete" method="post">
          <h2 class="form-signin-heading">
            Delete Administrator Account
          </h2>
          <div class="row">              
            <div class="col-md-12 mb-2  mt-2">
              <label for="email" class="sr-only">Email</label>              
              <input type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
          </div>          
          <button class="btn btn-md btn-default btn-block" type="submit">Submit</button>
        </form>
      </div>
    
    <!-- END NG -->
    </div>

    <% include ../../includes/dashboardScripts %>
  </body>
</html>