<!DOCTYPE html>
<html lang="en">
  <% include ../includes/dashboardHead %>
  <body>
    <div>

      <a href="/logout">Logout</a>

      <h2>
        Welcome, <%- fullName %>.
      </h2>

      <br />

      <h4>
        Time: <%= time %>
      </h4>
    </div>
  
    <% include ../includes/scripts %>
  </body>
</html>