<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">

      <br />
      <a href="/logout">Logout</a>
      <br />

      <h2>Welcome, Tenant.</h2>
      <br />
      <h4>
        Time: <%= time %>
      </h4>
      
    </div>
  
    <% include ../includes/scripts %>
  </body>
</html>