<!DOCTYPE html>
<html lang="en">
  <% include includes/head.ejs %>

  <body>
    <div class="container">
      <% include includes/nav.ejs %>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#personal">Personal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#employment">Employment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#roommates">Roommates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pets">Pets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#references">References</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#vehicles">Vehicles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#history">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#emergency">Emergency Contact</a>
        </li>
      </ul>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="personal">
          <div id="form-group">
            <form class="container apply" action="" method="post">
              <h5 class="form-signin-heading mt-2">
              Applicant Information
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="email" placeholder="Email" required>
                </div>
                <div class="col-md-6 mb-2">
                  <input type="tel" class="form-control" name="phone" placeholder="Phone" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="firstName" placeholder="First Name" required>
                </div>           
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="middleName" placeholder="Middle Name" required>
                </div>             
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="lastName" placeholder="Last Name" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="dob" placeholder="DOB" required>
                </div>
                <div class="col-md-6 mb-2">
                  <input type="tel" class="form-control" name="ssn" placeholder="#SSN" required>
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
              Current Address
              </h5>
              <div class="row">              
                <div class="col-md-7 mb-1">
                  <input type="text" class="form-control" name="street" placeholder="Street" required>
                </div>
                <div class="col-md-5 mb-1">
                  <input type="text" class="form-control" name="city" placeholder="City" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-5 mb-1">
                  <input type="text" class="form-control" name="zip" placeholder="Zip Code" required>
                </div>
                <div class="col-md-4 mb-1">
                  <input type="text" class="form-control" name="state" placeholder="State" required>
                </div>
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" name="timeLived" placeholder="Length of Time" required>
                </div>
              </div>
              <h5 class="form-signin-heading mt-2">
              Current Landlord
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="landlordFName" placeholder="First Name">
                </div>                       
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="landlordLName" placeholder="Last Name">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="tel" class="form-control" name="landlordPhone" placeholder="Phone">
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
              Previous Address
              </h5>
              <div class="row">              
                <div class="col-md-7 mb-1">
                  <input type="text" class="form-control" name="previousStreet" placeholder="Street">
                </div>
                <div class="col-md-5 mb-1">
                  <input type="text" class="form-control" name="previousCity" placeholder="City">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-5 mb-1">
                  <input type="text" class="form-control" name="previousZip" placeholder="Zip Code">
                </div>
                <div class="col-md-4 mb-1">
                  <input type="text" class="form-control" name="previousState" placeholder="State">
                </div>
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" name="previousTimeLived" placeholder="Length of Time">
                </div>
              </div>
              <h5 class="form-signin-heading mt-2">
              Previous Landlord
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="previousLandlordFirstName" placeholder="First Name">
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="previousLandlordLName" placeholder="Last Name">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="tel" class="form-control" name="previousLandlordPhone" placeholder="Phone">
                </div>
              </div>
            </form>
          </div>
        </div> <!-- END TAB -->

        <div class="tab-pane fade" id="employment">
          <div id="form-group">
            <form class="container apply" action="" method="post">
              <h5 class="form-signin-heading mt-2">
                Applicant Monthly Income
              </h5>
              <div class="row">              
                <div class="col-md-8 mb-2">
                  <input type="text" class="form-control" name="monthlyIncome" placeholder="Monthly Income" required>
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
                Current Employer
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="employer" placeholder="Business Name" required>
                </div>
                <div class="col-md-6 mb-2">
                  <input type="tel" class="form-control" name="employerPhone" placeholder="Phone" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-7 mb-1">
                  <input type="text" class="form-control" name="employerStreet" placeholder="Street" required>
                </div>
                <div class="col-md-5 mb-1">
                  <input type="text" class="form-control" name="employerCity" placeholder="City" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-1">
                  <input type="text" class="form-control" name="employerZip" placeholder="Zip Code" required>
                </div>
                <div class="col-md-6 mb-1">
                  <input type="text" class="form-control" name="employerState" placeholder="State" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="position" placeholder="Position" required>
                </div>                      
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="timeWorked" placeholder="Employment Period" required>
                </div>
              </div>
              <h5 class="form-signin-heading mt-2">
                Current Supervisor
              </h5>
              <div class="row">              
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="supervisorFName" placeholder="First Name" required>
                </div>                      
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="supervisorLName" placeholder="Last Name" required>
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
                Previous Employer
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="previousEmployer" placeholder="Business Name">
                </div>
                <div class="col-md-6 mb-2">
                  <input type="tel" class="form-control" name="previousEmployerPhone" placeholder="Phone">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-7 mb-1">
                  <input type="text" class="form-control" name="previousEmployerStreet" placeholder="Street">
                </div>
                <div class="col-md-5 mb-1">
                  <input type="text" class="form-control" name="previousEmployerCity" placeholder="City">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-1">
                  <input type="text" class="form-control" name="previousEmployerZip" placeholder="Zip Code">
                </div>
                <div class="col-md-6 mb-1">
                  <input type="text" class="form-control" name="previousEmployerState" placeholder="State">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="previousPosition" placeholder="Title">
                </div>                      
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="previousTimeWorked" placeholder="Employment Period">
                </div>
              </div>
              <h5 class="form-signin-heading mt-2">
                Previous Supervisor
              </h5>
              <div class="row">              
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="previousSupervisorFName" placeholder="First Name">
                </div>                      
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="previousSupervisorLName" placeholder="Last Name">
                </div>
              </div>
            </form>
          </div>
        </div> <!-- END TAB -->

        <div class="tab-pane fade" id="roommates">
          <div id="form-group">
            <form class="container apply" action="" method="post">
              <h5 class="form-signin-heading mt-2">
              First Roommate
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstRoommateFName" placeholder="First Name">
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstRoommateLName" placeholder="Last Name">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-8 mb-2">
                  <input type="text" class="form-control" name="firstRelationship" placeholder="Relationship to Applicant">
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
              Second Roommate
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondRoommateFName" placeholder="First Name">
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondRoommateLName" placeholder="Last Name">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-8 mb-2">
                  <input type="text" class="form-control" name="secondRelationship" placeholder="Relationship to Applicant">
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
              Third Roommate
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="thirdRoommateFName" placeholder="First Name">
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="thirdRoommateLName" placeholder="Last Name">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-8 mb-2">
                  <input type="text" class="form-control" name="thirdRelationship" placeholder="Relationship to Applicant">
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
              Fourth Roommate
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="fourthRoommateFName" placeholder="First Name">
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="fourthRoommateLName" placeholder="Last Name">
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 mb-2">
                  <input type="text" class="form-control" name="fourthRelationship" placeholder="Relationship to Applicant">
                </div>
              </div>
            </form>
          </div>
        </div> <!-- END TAB -->

        <div class="tab-pane fade" id="pets">
          <div id="form-group">
            <form class="container apply" action="" method="post">
              <h5 class="form-signin-heading mt-2">
                First Pet
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstPetName" placeholder="Pet Name">
                </div>                      
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstPetGender" placeholder="Pet Gender">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstPetBreed" placeholder="Breed">
                </div>                      
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstPetWeight" placeholder="Weight">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstPetAge" placeholder="Age">
                </div>                      
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstPetSpayed" placeholder="Spayed/Neutered">
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
                Second Pet
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondPetName" placeholder="Pet Name">
                </div>                      
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondPetGender" placeholder="Pet Gender">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondPetBreed" placeholder="Breed">
                </div>                      
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondPetWeight" placeholder="Weight">
                </div>
              </div>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondPetAge" placeholder="Age">
                </div>                      
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondPetSpayed" placeholder="Spayed/Neutered">
                </div>
              </div>
            </form>
          </div>
        </div> <!-- END TAB -->

        <div class="tab-pane fade" id="references">
          <div id="form-group">
            <form class="container apply" action="" method="post">
              <h5 class="form-signin-heading mt-2">
              First Reference
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstReferenceFName" placeholder="First Name" required>
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="firstReferenceLName" placeholder="Last Name" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="firstReferenceRel" placeholder="Relationship to Applicant" required>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="firstReferenceYears" placeholder="Years Known" required>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="firstReferencePhone" placeholder="Phone" required>
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
              Second Reference
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondReferenceFName" placeholder="First Name" required>
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="secondReferenceLName" placeholder="Last Name" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="secondReferenceRel" placeholder="Relationship to Applicant" required>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="secondReferenceYears" placeholder="Years Known" required>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="secondReferencePhone" placeholder="Phone" required>
                </div>
              </div>
            </form>
          </div>
        </div> <!-- END TAB -->

        <div class="tab-pane fade" id="vehicles">
          <div id="form-group">
            <form class="container apply" action="" method="post">
              <h5 class="form-signin-heading mt-2">
                First Vehicle
              </h5>
              <div class="row">
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="vMakeOne" placeholder="Vehicle Make" required>
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="vModelOne" placeholder="Last Name" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" name="vYearOne" placeholder="Year" required>
                </div>                 
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" name="vStateOne" placeholder="State" required>
                </div>
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" name="vPlateOne" placeholder="License Plate" required>
                </div>
              </div>
              <hr class="thick-hr" />
              <h5 class="form-signin-heading mt-2">
                Second Vehicle
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="vMakeTwo" placeholder="Vehicle Make" required>
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="vModelTwo" placeholder="Last Name" required>
                </div>
              </div>
              <div class="row">       
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" name="vYearTwo" placeholder="Year" required>
                </div>                 
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" name="vStateTwo" placeholder="State" required>
                </div>
                <div class="col-md-3 mb-2">
                  <input type="text" class="form-control" name="vPlateTwo" placeholder="License Plate" required>
                </div>
              </div>
            </form>
          </div>
        </div> <!-- END TAB -->

        <div class="tab-pane fade" id="history">
          <div id="form-group">
            <form class="container apply" action="" method="post">
              <div class="row mb-4">
                <div class="col-md-8">
                  <h5>
                    Have you ever been evicted?
                  </h5>
                </div>
                <div class="col-md-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="evicted" value="yes">
                      Yes
                    </label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-check">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="evicted" value="no">
                      No
                    </label>
                  </div>
                </div>
              </div> <!-- End Row -->
              <div class="row">       
                <div class="col-md-6 mb-2">
                  <input type="date" class="form-control" name="evictedDate" placeholder="When?">
                </div>
              </div> <!-- End Row -->
              <div class="row">       
                <div class="col-md-12 mb-2">
                  <input type="text" class="form-control" name="evictedReason" placeholder="Why?">
                </div>
              </div> <!-- End Row -->
              <hr class="thick-hr" />
              <div class="row mb-4">
                <div class="col-md-8">
                  <h5>
                    Have you ever declared bankruptcy?
                  </h5>
                </div>
                <div class="col-md-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="bankruptcy" value="yes">
                      Yes
                    </label>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="form-check">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="bankruptcy" value="no">
                      No
                    </label>
                  </div>
                </div>
              </div> <!-- End Row -->
              <div class="row">       
                <div class="col-md-6 mb-2">
                  <input type="date" class="form-control" name="bankruptcyDate" placeholder="When?">
                </div>
              </div> <!-- End Row -->
              <div class="row">       
                <div class="col-md-12 mb-2">
                  <input type="text" class="form-control" name="bankruptcyReason" placeholder="Describe">
                </div>
              </div> <!-- End Row -->
              <hr class="thick-hr" />
              <div class="row mb-4">
                <div class="col-md-8">
                  <h5>
                    Have you ever been convicted of a crime?
                  </h5>
                </div>
                <div class="col-md-2">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="convicted" value="yes">
                      Yes
                    </label>
                  </div>
                </div>
                <div class="col-md-2 mb-2">
                  <div class="form-check">
                  <label class="form-check-label">
                      <input type="radio" class="form-check-input" name="convicted" value="no">
                      No
                    </label>
                  </div>
                </div>
              </div> <!-- End Row -->
              <div class="row">       
                <div class="col-md-6 mb-2">
                  <input type="date" class="form-control" name="convictedDate" placeholder="When?">
                </div>
              </div> <!-- End Row -->
              <div class="row">       
                <div class="col-md-12 mb-2">
                  <input type="text" class="form-control" name="convictedReason" placeholder="Describe">
                </div>
              </div> <!-- End Row -->
            </form>
          </div>
        </div> <!-- END TAB -->

        <div class="tab-pane fade" id="emergency">
          <div id="form-group">
            <form class="container apply" action="" method="post">
              <h5 class="form-signin-heading mt-2">
                Emergency Contact
              </h5>
              <div class="row">              
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="emergencyFName" placeholder="First Name" required>
                </div>                 
                <div class="col-md-6 mb-2">
                  <input type="text" class="form-control" name="emergencyLName" placeholder="Last Name" required>
                </div>
              </div>
              <div class="row">              
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="emergencyRel" placeholder="Relationship to Contact" required>
                </div>
                <div class="col-md-4 mb-2">
                  <input type="text" class="form-control" name="emergencyPhone" placeholder="Phone" required>
                </div>
              </div>
            </form>
          </div>
        </div> <!-- END TAB -->

        <div class="tab-pane fade" id="submit">
            <button class="btn btn-md btn-default submit-button-center" type="submit">Submit</button>
        </div> <!-- END TAB -->
      </div> <!-- END TABS -->
    </div> <!-- END CONTAINER -->

    <% include includes/footer.ejs %>
  </body>
</html>