<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">   

      <% include ../includes/nav %>

        <div class="jumbotron">
          <h1 class="display-5">Let Us Help You Find It</h1>
          <hr class="my-3" />

          <p class="lead">
            <a class="btn btn-dark btn-lg" href="/contact" role="button">Get in Touch</a>
          </p>
        </div>

    </div>

    <% include ../includes/footer %>

    <% include ../includes/scripts %>
  </body>
</html>