<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">

    <br />      
    <br />
    <a href="/login">Back</a>
    <br />

    <h2>Welcome Owner</h2>
    
    <% include ../includes/scripts %>

  </body>
</html>