<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <% include ../includes/nav %>

    <br />

    <div class='text-center'>
      <h3>Welcome to pay</h3>
    </div>

    <br />
    <form class="container" id="needs-validation" novalidate>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" id="validation1" placeholder="First name" value="Mark" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" id="validation2" placeholder="Last name" value="Otto" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Address</label>
            <input type="text" class="form-control" id="validation3" placeholder="Address" required>
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">City</label>
            <input type="text" class="form-control" id="validation4" placeholder="City" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom04">State</label>
            <input type="text" class="form-control" id="validation5" placeholder="State" required>
          </div>
          <div class="col-md-2 mb-3">
            <label for="validationCustom05">Zip</label>
            <input type="text" class="form-control" id="validation6" placeholder="Zip" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom03">Amount</label>
            <input type="text" class="form-control" id="validation7" placeholder="Amount" required>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-primary" type="submit">Pay</button>            
        </div>
      </form>

      <br />

      <script>
      // VALIDATION
      (function() {
        "use strict";
        window.addEventListener("load", function() {
          var form = document.getElementById("needs-validation");
          form.addEventListener("submit", function(event) {
            if (form.checkValidity() == false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add("was-validated");
          }, false);
        }, false);
      }());
      </script>

    <% include ../includes/footer %>
    
    <% include ../includes/scripts %>
  </body>
</html>