<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">
          
      <% include ../includes/nav %>

      <br />
      
      <div class="row ">
        <div class="col-md-12 text-center">
            <h2>Properties</h2>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-6 mr-2">
          <div class="card text-center" style="width: 35rem; height: 25rem; padding: 10px;">
            <img class="card-img-top w-50" src="/images/house.png" alt="Property 3 Image">
            <div class="card-body">
              <h4 class="card-title">Big Image Here</h4>
              <p class="card-text">Property Address</p>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 mb-1">
          <div class="card text-center" style="width: 35rem; height: 25rem; padding: 10px;">
            <div class="card-body">
              <h4 class="card-title">Details</h4>
              <p class="card-text">Number of rooms, fence, sq ft, etc.</p>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-6 mr-2">
          <div class="card text-center" style="width: 35rem; height: 25rem; padding: 10px;">
            <img class="card-img-top w-50" src="/images/house.png" alt="Property 3 Image">
            <div class="card-body">
              <h4 class="card-title">Big Image Here</h4>
              <p class="card-text">Property Address</p>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 mb-1">
          <div class="card text-center" style="width: 35rem; height: 25rem; padding: 10px;">
            <div class="card-body">
              <h4 class="card-title">Details</h4>
              <p class="card-text">Number of rooms, fence, sq ft, etc.</p>
            </div>
          </div>
        </div>
      </div>

      <br />

      <div class="row">
        <div class="col-md-6 mr-2">
          <div class="card text-center" style="width: 35rem; height: 25rem; padding: 10px;">
            <img class="card-img-top w-50" src="/images/house.png" alt="Property 3 Image">
            <div class="card-body">
              <h4 class="card-title">Big Image Here</h4>
              <p class="card-text">Property Address</p>
              <a href="#" class="btn btn-primary">See More</a>
            </div>
          </div>
        </div>
        <div class="col-md-5 mb-1">
          <div class="card text-center" style="width: 35rem; height: 25rem; padding: 10px;">
            <div class="card-body">
              <h4 class="card-title">Details</h4>
              <p class="card-text">Number of rooms, fence, sq ft, etc.</p>
            </div>
          </div>
        </div>
      </div>

      <br />

      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
      
      <br />
      
    </div>

    <% include ../includes/footer %>

    <% include ../includes/scripts %>
  </body>
</html>