<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">

      <% include ../includes/nav %>

      <br />

      <div id='register'>
        <form class="container" id="needs-validation" novalidate>
          <h2 class="form-signin-heading">
            Register
          </h2>
          <div class="row">              
            <div class="col-md-12 mb-2">
              <label for="registrationCode" class="sr-only">Registration Code</label>              
              <input type="text" class="form-control" id="validation1" placeholder="Registration Code" required autofocus>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="password" class="sr-only">Password</label>              
              <input type="password" class="form-control" id="validation2" placeholder="Password" required>
            </div>
          </div>
          <div class="row">  
            <div class="col-md-12 mb-2">
              <label for="confirmPassword" class="sr-only">Confirm Password</label>              
              <input type="password" class="form-control" id="validation3" placeholder="Confirm Password" required>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-success" data-toggle="modal" data-target="#inactiveModal" type="submit">Submit</button>
          </div>
        </form>
      </div>

    </div>

    <% include ../includes/inactiveModal %>

    <% include ../includes/footer %>

    <script>
      // VALIDATION
      (function() {
        "use strict";
        window.addEventListener("load", function() {
          var form = document.getElementById("needs-validation");
          form.addEventListener("submit", function(event) {
            if (form.checkValidity() == false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add("was-validated");
          }, false);
        }, false);
      }());
    </script>

    <% include ../includes/scripts %>
  </body>
</html>