<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">

    <br />      
    <br />
    <a href="/register">Back</a>
    <br />

    <h2>Registration Successful!</h2>
    <br />
    <h4>
      Registration time: <%= time %>
    </h4>
    <h4>
      Registration type: <%= type %>
    </h4>
    <h4>
      Email: <%= email %>
    </h4>
    <h4>
      Password: <%= password %>
    </h4>
    <% include ../includes/scripts %>
  </body>
</html>