<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">

    <br />      
    <br />
    <a href="/login">Back</a>
    <br />

    <h2>Welcome Tenant</h2>
    <br />
    <h4>
      Login time: <%= time %>
    </h4>

    <% include ../includes/scripts %>
  </body>
</html>