<!DOCTYPE html>
<html lang="en">
  <% include ../../includes/dashboard_tenant/head %>

  <body class="container-fluid">
    <% include ../../includes/dashboard_tenant/nav %>

      <div class="row">
        <div class="col-2">
          <ul class="nav nav-fill flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link side-link active" id="billing-link-1-tab" data-toggle="pill" href="#billing-link-1">Billing Link 1</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="billing-link-2-tab" data-toggle="pill" href="#billing-link-2">Billing Link 2</a>
            </li>
          </ul>
        </div> <!-- END COL -->
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            
            <div class="tab-pane show active fade" id="billing-link-1">

            </div>

            <div class="tab-pane fade" id="billing-link-2">
              
            </div>

          </div>
        </div> <!-- END COL -->
      </div> <!-- END ROW -->
    </div> <!-- END NG -->

    <% include ../../includes/dashboard_tenant/scripts %>
  </body>
</html>