<!DOCTYPE html>
<html lang="en">
  <% include ../includes/dashboardHead %>
  <body class="container-fluid">
    <div>

      <% include ../includes/dashboardNav %>

      <div class="row">
        <div class="col-2">
          <ul class="nav nav-fill flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link side-link active" id="upload-property-image-tab" data-toggle="pill" href="#upload-property-image">Upload Image</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="delete-property-image-tab" data-toggle="pill" href="#delete-property-image">Delete Image</a>
            </li>
          </ul>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane show active fade" id="upload-property-image">

              <div id="divForm">
                <form class="container mt-5 ml-5" action="/propImages/upload" method="post">
                  <div class="row">              
                    <div class="col-md-8 mb-2">
                      <input type="text" class="form-control" name="id" placeholder="ID" required>      
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <label class="btn btn-primary">
                          Browse <input type="file" name="image" accept="image/*" required hidden>
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-md btn-default submit-button-center" type="submit">Submit</button>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="delete-property-image">

              <div id="divForm">
                <form class="container mt-5 ml-5" action="/propImages/delete" method="post">
                  <div class="row">              
                    <div class="col-md-8 mb-2">
                      <input type="text" class="form-control" name="id" placeholder="ID" required>
                    </div>
                  </div>          
                  <button class="btn btn-md btn-default submit-button-center" type="submit">Submit</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

      <% if (!(typeof createSuccess == 'undefined')) { %>
        <% if (!uploadSuccess) { %>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading text-center">Upload Unsuccessful!</h4>
          </div>      
        <% } %>
        <% if (uploadSuccess) { %>
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading text-center">Upload Successful!</h4>
          </div>      
        <% } %>
      <% } %>

      <% if (!(typeof deleteSuccess == 'undefined')) { %>
        <% if (!deleteSuccess) { %>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading text-center">Deletion Unsuccessful!</h4>
          </div>      
        <% } %>
        <% if (deleteSuccess) { %>
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading text-center">Deletion Successful!</h4>
          </div>      
        <% } %>
      <% } %>

    </div>
    
    <% include ../../includes/scripts %>
  </body>
</html>