<!DOCTYPE html>
<html lang="en">
  <% include ../includes/dashboardHead %>
  <body class="container-fluid">
    <div>

      <% include ../includes/dashboardNav %>

      <div class="row">
        <div class="col-2">
          <ul class="nav nav-fill flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link side-link active" id="add-property-tab" data-toggle="pill" href="#add-property">Add Property</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="delete-property-tab" data-toggle="pill" href="#delete-property">Delete Property</a>
            </li>
          </ul>
        </div>
        <div class="col-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane show active fade" id="add-property">

              <div id="form-group">
                <form class="container" action="/props/add" method="post">
                  <div class="row">
                    <div class="col-md-9">
                      <div class="row">              
                        <div class="col-md-7 mb-1">
                          <input type="text" class="form-control" name="street" placeholder="Street" required>
                        </div>
                        <div class="col-md-5 mb-1">
                          <input type="text" class="form-control" name="city" placeholder="City">
                        </div>
                      </div>
                      <div class="row">              
                        <div class="col-md-6 mb-1">
                          <input type="text" class="form-control" name="zip" placeholder="Zip Code">
                        </div>
                        <div class="col-md-6 mb-1">
                          <input type="text" class="form-control" name="state" placeholder="State">
                        </div>
                      </div>
                      <div class="row">              
                        <div class="col-md-4 mb-1">
                          <select class="form-control" name="type">
                            <option selected disabled>Type</option>
                            <option>Single-Family Home</option>
                            <option>Duplex / Double / 2-Family</option>
                            <option>Efficiency / Studio</option>
                            <option>Condominium</option>
                            <option>Apartment</option>
                          </select>
                        </div>          
                        <div class="col-md-4 mb-1">
                          <input type="text" class="form-control" name="sqft" placeholder="Square Foot">
                        </div>          
                        <div class="col-md-4 mb-1">
                          <select class="form-control" name="stories">
                            <option selected disabled>Stories</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                          </select>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-1">
                          <input type="text" class="form-control is-invalid" name="year" placeholder="Year Built">
                        </div>      
                        <div class="col-md-6 mb-1">
                          <input type="text" class="form-control is-valid" name="mainImage" placeholder="Main Image Name">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-1">
                          <input type="text" class="form-control" name="occupant1" placeholder="Occupant">
                        </div>      
                        <div class="col-md-6 mb-1">
                          <input type="text" class="form-control" name="occupant2" placeholder="Occupant">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6 mb-1">
                          <input type="text" class="form-control" name="occupant3" placeholder="Occupant">
                        </div>      
                        <div class="col-md-6 mb-1">
                          <input type="text" class="form-control" name="occupant4" placeholder="Occupant">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-2">
                      <div class="row">              
                        <div class="col-md-12 mb-2">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="washer" value="true"> Washer
                            </label>
                          </div>
                        </div>
                        <div class="col-md-12 mb-2">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="dryer" value="true"> Dryer
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">              
                        <div class="col-md-12 mb-2">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="garage" value="true"> Garage
                            </label>
                          </div>
                        </div>
                        <div class="col-md-12 mb-2">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="basement" value="true"> Basement
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">              
                        <div class="col-md-12 mb-2">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="fence" value="true"> Fence
                            </label>
                          </div>
                        </div>
                        <div class="col-md-12 mb-2">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" name="occupied" value="true"> Occupied
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-md btn-default submit-button-center" type="submit">Submit</button>
                  </div>
                </form>
              </div>
            
            </div>
            <div class="tab-pane fade" id="delete-property">

              <div id="form">
                <form class="container mt-5 ml-5" action="/props/delete" method="post">
                  <div class="row">              
                    <div class="col-md-8 mb-2 mt-3">
                      <input type="text" class="form-control" name="id" placeholder="ID" required>
                    </div>
                  </div>          
                  <button class="btn btn-md btn-default submit-button-center" type="submit">Submit</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>

      <% if (!(typeof createSuccess == 'undefined')) { %>
        <% if (!createSuccess) { %>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading text-center">Creation Unsuccessful!</h4>
          </div>      
        <% } %>
        <% if (createSuccess) { %>
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading text-center">Creation Successful!</h4>
          </div>      
        <% } %>
      <% } %>

      <% if (!(typeof deleteSuccess == 'undefined')) { %>
        <% if (!deleteSuccess) { %>
          <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading text-center">Deletion Unsuccessful!</h4>
          </div>      
        <% } %>
        <% if (deleteSuccess) { %>
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading text-center">Deletion Successful!</h4>
          </div>      
        <% } %>
      <% } %>

    </div>
    
    <% include ../../includes/scripts %>
  </body>
</html>