@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

.width-5-em {
  width: 1em;
}
.width-4-em {
  width: 1em;
}
.width-3-em {
  width: 3em;
}
.width-2-em {
  width: 2em;
}
.width-1-em {
  width: 1em;
}

.margin-top-10 {
  margin-top: 10em;
}
.margin-top-9 {
  margin-top: 9em;
}
.margin-top-8 {
  margin-top: 8em;
}
.margin-top-7 {
  margin-top: 7em;
}
.margin-top-6 {
  margin-top: 6em;
}
.margin-top-5 {
  margin-top: 5em;
}
.margin-top-4 {
  margin-top: 4em;
}
.margin-top-3 {
  margin-top: 3em;
}
.margin-top-2 {
  margin-top: 2em;
}
.margin-top-1 {
  margin-top: 1em;
}

.margin-bottom-10 {
  margin-bottom: 10em;
}
.margin-bottom-9 {
  margin-bottom: 9em;
}
.margin-bottom-8 {
  margin-bottom: 8em;
}
.margin-bottom-7 {
  margin-bottom: 7em;
}
.margin-bottom-6 {
  margin-bottom: 6em;
}
.margin-bottom-5 {
  margin-bottom: 5em;
}
.margin-bottom-4 {
  margin-bottom: 4em;
}
.margin-bottom-3 {
  margin-bottom: 3em;
}
.margin-bottom-2 {
  margin-bottom: 2em;
}
.margin-bottom-1 {
  margin-bottom: 1em;
}

td, th {
  text-align: center;
}

.table tbody tr > td.actions-col {
  background-color: white !important;
}

body {
  padding-top: 50px;
}