/* Small devices (landscape phones, 576px and up)
 * @media (min-width: 576px) { ... }
 */

/* Medium devices (tablets, 768px and up)
 * @media (min-width: 768px) { ... }
 */
 
/* Large devices (desktops, 992px and up)
 * @media (min-width: 992px) { ... }
 */

/* Extra large devices (large desktops, 1200px and up)
 * @media (min-width: 1200px) { ... }
 */

body { 
    padding-top: 65px; 
}
#register {
    max-width: 330px;
    margin: 0 auto;
}
/*
 * Keep links aligned
 * when in Mobile
 */
nav .left {
    float: left;
}
nav .right {
    float: right;
}
.popover   {
    font-style: italic;
}
