<footer class='footer text-center'>
	<span class='text-muted'>© Copyright 2018</span>
</footer>
<script type="text/javascript" src="js/vendor.js"></script>
<script type="text/javascript" src="js/scripts.min.js"></script>