<h4>
  Send me an email when...
</h4>

<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="data.notifications.newApplication">
    a new application has been submitted.
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="data.notifications.newApplication">
    a tenant failed to register their account.
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="data.notifications.newApplication">
    a tenant has registered their account.
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="data.notifications.newApplication">
    a payment has failed to process.
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="data.notifications.newApplication">
    I have a contact request.
  </label>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="data.notifications.newApplication">
    somebody has logged into my account.
  </label>
</div>

<hr>

<div class="form-group">
  <label>Did we miss anything?</label>
  <input type="text" class="form-control" placeholder="Notification Suggestion">
</div>

<div class="form-group">
  <button type="submit" class="btn btn-info" ng-click="">Submit</button>
</div>
