<!DOCTYPE html>
<html lang="en">
<% include ../includes/dashboardHead %>

  <body class="container-fluid">
    <div id="app">

      <% include ../includes/dashboardNav %>

      <div class="row">
        <div class="col-2">
          <ul class="nav nav-fill flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link side-link active" id="administrators-tab" data-toggle="pill" href="#administrators">Administrators</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="registered-users-tab" data-toggle="pill" href="#registered-users">Registered Users</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="unregistered-users-tab" data-toggle="pill" href="#unregistered-users">Unregistered Users</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="properties-tab" data-toggle="pill" href="#properties">Properties</a>
            </li>
          </ul>
        </div>
        <div class="col-10">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="administrators">

              <div class="table-responsive">
                <table class="table table-striped ">
                  <thead class="table-header-text">
                    <tr>
                      <th class="text-center">Name</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Account Type</th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>

            </div>
            <div class="tab-pane fade" id="registered-users">

              <div class="table-responsive">
                <table class="table table-striped ">
                  <thead class="table-header-text">
                    <tr>
                      <th class="text-center">Name</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Account Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-text" v-for="registeredTenant in registeredTenants">
                      <td>                  
                        {{ registeredTenant.firstName }}
                        {{ registeredTenant.middleName }}
                        {{ registeredTenant.lastName }}
                      </td>
                      <td>
                        {{ registeredTenant.email }}
                      </td>
                      <td>
                        {{ registeredTenant.type }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="tab-pane fade" id="unregistered-users">

              <div class="table-responsive">
                <table class="table table-striped ">
                  <thead class="table-header-text">
                    <tr>
                      <th class="text-center">Name</th>
                      <th class="text-center">Email</th>
                      <th class="text-center">Registration Code</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-text" v-for="unregisteredTenant in unregisteredTenants">
                      <td>                  
                        {{ unregisteredTenant.firstName }}
                        {{ unregisteredTenant.middleName }}
                        {{ unregisteredTenant.lastName }}
                      </td>
                      <td>
                        {{ unregisteredTenant.email }}
                      </td>
                      <td>
                        {{ unregisteredTenant.code }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="tab-pane fade" id="properties">

              <div class="table-responsive">
                <table class="table table-striped ">
                  <thead class="table-header-text">
                    <tr>
                      <th class="text-center">ID</th>
                      <th class="text-center">Main Image</th>
                      <th class="text-center">Address</th>
                      <th class="text-center">Sq Ft</th>
                      <th class="text-center">Year</th>
                      <th class="text-center">Fence</th>
                      <th class="text-center">Basement/Garage</th>
                      <th class="text-center">Washer/Dryer</th>
                      <th class="text-center">Type</th>
                      <th class="text-center">Occupied</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-text" v-for="property in properties">
                      <td>                  
                        {{ property.id }}
                      </td>
                      <td>
                        <img class="center-image" v-bind:src=imgName(property.mainImage) />
                      </td>
                      <td>
                        {{ property.street }} <br />
                        {{ property.city }}, {{ property.state }}  {{ property.zip }} 
                      </td>
                      <td>
                        {{ property.sqft }}
                      </td>
                      <td>
                        {{ property.year }}
                      </td>
                      <td>
                        {{ property.fence }}
                      </td>
                      <td>
                        {{ property.basement }} / {{ property.garage }}
                      </td>
                      <td>
                        {{ property.washer }} / {{ property.dryer }}
                      </td>
                      <td>
                        {{ property.type }}
                      </td>
                      <td>
                        {{ property.occupied }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

            <div class="tab-pane fade" id="v-pills-home">

            </div>

          </div>
        </div>
      </div>

    </div>

    <% include ../includes/dashboardScripts %>

    <script src="/vue/vue.min.js"></script>

    <script>
      const app = new Vue({
        el: '#app',
        data: {
          selected:[],
          unregisteredTenants: <%- JSON.stringify(unregisteredTenants) %>,
          registeredTenants: <%- JSON.stringify(registeredTenants) %>,
          properties: <%- JSON.stringify(properties) %>
        },
        methods: {
          imgName: function (prop) {
            var imgPath = 'images/properties/' + prop;
            return imgPath;
          }
        }
      });
    </script>
  </body>

</html>