<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <style>
    .row {
          margin-top: 30px;
          margin-bottom: 30px
    }
    </style>
    <div class="container" id="app">

      <br />
      <a href="/logout">Logout</a>
      <br />

      <h2>Welcome, Admin.</h2>
      <br />

      <div class="row">

        <div class="col">
          <br />
          <a href="/unregUsers">Add/Remove Unregistered Users</a>
          <br />

          <br />
            <a href="/regUsers">Add/Remove Registered Users</a>
          <br />
        </div>
      </div>

      <div class="row">
        <div class="col">
        </div>
        <hr>
      </div>

      <div class="row">

        <div class="col-3">
          <h4>Unregistered Tenants:</h4>
        </div>

        <div class="col-3">
          <ul>
            <li v-for="unregisteredTenant in unregisteredTenants">
              {{ unregisteredTenant.email }}
            </li>
          </ol>
        </div>

        <div class="col-3">
          <ul>
            <li v-for="unregisteredTenant in unregisteredTenants">
              {{ unregisteredTenant.code }}
            </li>
          </ul>
        </div>

      </div>

      <div class="row">

        <div class="col-3">
          <h4>Registered Tenants:</h4>
        </div>

        <div class="col-3">
          <ul>

          </ul>
        </div>

        <div class="col-3">
          <ul>

          </ul>
        </div>

      </div>


    </div>

    <br />

    <% include ../includes/scripts %>
    <script src="/vue/vue.min.js"></script>
    <script>
      const app4 = new Vue({
        el: '#app',
        data: {
          unregisteredTenants: 
            <%- JSON.stringify(unregisteredTenants) %>
        }
      })
    </script>
  </body>
</html>