<!DOCTYPE html>
<html lang="en">
<% include ../includes/dashboardHead %>

  <body class="container-fluid">
    <div id="app">

      <% include ../includes/dashboardNav %>

      <div class="row">
        <div class="col-2">
          <ul class="nav nav-fill flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link side-link active" id="administrators-tab" data-toggle="pill" href="#administrators">Administrators</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="registered-users-tab" data-toggle="pill" href="#registered-users">Registered Users</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="unregistered-users-tab" data-toggle="pill" href="#unregistered-users">Unregistered Users</a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item">
              <a class="nav-link side-link" id="properties-tab" data-toggle="pill" href="#properties">Properties</a>
            </li>
          </ul>
        </div>
        <div class="col-10">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="administrators">

              <div class="row margin-top-10 bottom-border">
                <div class="col-4 table-header">
                  <span class='table-header-text'>Name</span>
                </div>
                <div class="col-4 table-header">
                  <span class='table-header-text'>Email</span>
                </div>
                <div class="col-4 table-header">
                  <span class='table-header-text'>Account Type</span>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="registered-users">

              <div class="row margin-top-10 bottom-border">
                <div class="col-4 table-header">
                  <span class='table-header-text'>Name</span>
                </div>
                <div class="col-4 table-header">
                  <span class='table-header-text'>Email</span>
                </div>
                <div class="col-4 table-header">
                  <span class='table-header-text'>Account Type</span>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div v-for="registeredTenant in registeredTenants">
                    {{ registeredTenant.firstName }}
                    {{ registeredTenant.middleName }}
                    {{ registeredTenant.lastName }}
                  </div>
                </div>

                <div class="col-4">
                  <div v-for="registeredTenant in registeredTenants">
                    {{ registeredTenant.email }}
                  </div>
                </div>

                <div class="col-4">
                  <div v-for="registeredTenant in registeredTenants">
                    {{ registeredTenant.type }}
                  </div>
                </div>
              </div>

            </div>
            <div class="tab-pane fade" id="unregistered-users">

              <div class="row margin-top-10 bottom-border">
                <div class="col-4 table-header">
                  <span class='table-header-text'>Name</span>
                </div>
                <div class="col-4 table-header">
                  <span class='table-header-text'>Email</span>
                </div>
                <div class="col-4 table-header">
                  <span class='table-header-text'>Registration Code</span>
                </div>
              </div>

              <div class="row">
                <div class="col-4">
                  <div v-for="unregisteredTenant in unregisteredTenants">
                    {{ unregisteredTenant.firstName }}
                    {{ unregisteredTenant.middleName }}
                    {{ unregisteredTenant.lastName }}
                  </div>
                </div>

                <div class="col-4">
                  <div v-for="unregisteredTenant in unregisteredTenants">
                    {{ unregisteredTenant.email }}
                  </div>
                </div>

                <div class="col-4">
                  <div v-for="unregisteredTenant in unregisteredTenants">
                    {{ unregisteredTenant.code }}
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="properties">

              <div class="row margin-top-10 bottom-border">
                <div class="col-1 table-header">
                  <span class='table-header-text'>ID</span>
                </div>
                <div class="col-2 table-header">
                  <span class='table-header-text'>Main Image</span>
                </div>
                <div class="col-2 table-header">
                  <span class='table-header-text'>Address</span>
                </div>
                <div class="col-1 table-header">
                  <span class='table-header-text'>Square Foot</span>
                </div>
                <div class="col-2 table-header">
                  <span class='table-header-text'>Basement/Garage/Fence</span>
                </div>
                <div class="col-2 table-header">
                  <span class='table-header-text'>Washer/Dryer</span>
                </div>     
                <div class="col-1 table-header">
                  <span class='table-header-text'>Type</span>
                </div>
                <div class="col-1 table-header">
                  <span class='table-header-text'>Occupied</span>
                </div>
              </div>

              <div class="row" v-for="property in properties">
                <div class="col-1 table-text">
                  {{ property.id }}
                </div>
                <div class="col-2 center-image">
                  <img class="center-image" v-bind:src=imgName(property.mainImage) />
                </div>
                <div class="col-2 table-text">
                  {{ property.street }} <br />
                  {{ property.city }}, {{ property.state }}  {{ property.zip }} 
                </div>
                <div class="col-1 table-text">
                  {{ property.sqft }}
                </div>
                <div class="col-2 table-text">
                  {{ property.basement }} / {{ property.garage }} / {{ property.fence }}
                </div>
                <div class="col-2 table-text">
                  {{ property.washer }} / {{ property.dryer }}
                </div>
                <div class="col-1 table-text">
                  {{ property.type }}
                </div>
                <div class="col-1 table-text">
                  {{ property.occupied }}
                </div>
              </div>

            </div>

            <div class="tab-pane fade" id="v-pills-home">

            </div>
          </div>
        </div>
      </div>

    </div>

    <% include ../includes/dashboardScripts %>

    <script src="/vue/vue.min.js"></script>

    <script>
      const app = new Vue({
        el: '#app',
        data: {
          selected:[],
          unregisteredTenants: <%- JSON.stringify(unregisteredTenants) %>,
          registeredTenants: <%- JSON.stringify(registeredTenants) %>,
          properties: <%- JSON.stringify(properties) %>
        },
        methods: {
          imgName: function (prop) {
            var imgPath = 'images/properties/' + prop;
            return imgPath;
          }
        }
      });
    </script>
  </body>

</html>