<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body>
    <div class="container">

      <br />
      <a href="/logout">Logout</a>
      <br />

      <h2>Welcome, Admin.</h2>
      <br />
      <h4>
        Time: <%= time %>
      </h4>

      <div id="app">
        <ol>
          <li v-for="user in users">
            {{ user.email }}
          </li>
        </ol>
      </div>

      <br />
      <a href="/unregUsers">Add/Remove Unregistered Users</a>
      <br />

      <br />
        <a href="/regUsers">Add/Remove Registered Users</a>
      <br />

    </div>

    <% include ../includes/scripts %>
    <script src="/vue/vue.min.js"></script>
    <script>
      var app = new Vue({
        el: '#app',
        <%= users %>
      })
    </script>
  </body>
</html>