<div class="container">
      <label>Name</label>
  <div class="row">
    <div class="col-sm-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="First">
        </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Middle">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Last">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" placeholder="Email">
        </div>
    </div>
  </div>
    <div class="row">
    <div class="col-sm-6">
        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control" placeholder="Phone">
        </div>
    </div>
  </div>
</div>
