
      <div class="row">
        <div class="col-4">
          <a href="/admin" class="btn btn-outline-primary corner-link">Back</a>           
        </div> <!-- END COL -->

        <div class="col-5">
          <h3 class="text-capitalize">
            <%- fullName %>
          </h3>
        </div> <!-- END COL -->

        <div class="col-3 corner-button-container">
          <a href="#" data-toggle="modal" data-target="#settingsModal" class="btn btn-outline-primary corner-link settingsButton">Settings</a>
          <a href="/logout" class="btn btn-outline-primary corner-link">Logout</a>           
        </div> <!-- END COL -->
      </div> <!-- END ROW -->

      <hr class="thick-hr margin-top-10" />

      <div class="nav nav-pills nav-fill">
        <div class="nav-item">
          <a class="nav-link main-link" href="/data">Data</a>
        </div>
        <div class="nav-item">
          <a class="nav-link main-link" href="/users">Users</a>
        </div>
        <div class="nav-item">
          <a class="nav-link main-link" href="/properties">Properties</a>
        </div>
        <div class="nav-item">
          <a class="nav-link main-link" href="/billing">Billing</a>
        </div>
      </div> <!-- END NAV -->

      <% include ../includes/settingsModal %>    

      <hr class="thick-hr margin-bottom-40" />

      <div ng-app="ngAdmin">