<nav class="navbar navbar-toggleable-sm navbar-inverse bg-faded fixed-top" style="background-color: #800000;">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/home">Unity Homes<span class="sr-only">(current)</span></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="properties" class="nav-link" href="/properties">For Rent</a>
            </li>
            <li class="nav-item">
                <a id="apply" class="nav-link" href="/apply">Apply Online</a>
            </li>
            <li class="nav-item">
                <a id="contact" class="nav-link" href="/contact">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a id="register" class="nav-link left" href="/register">Register</a>
            </li>
            <li>
                <a href="/login" class="btn btn-outline-secondary btn-md" role="button" aria-pressed="true">Login</a>           
            </li>    
        </ul>
    </div>
</nav>
